body{
  
    background-image: url(../Assets/triangle-cyan.png);
      width: 100%;
      margin: auto;
      display: block;
      margin:0; padding:0;
  }
  
  
  
  
  .nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      width: 100%;
      position: fixed;
      top: 0;
      padding-left: 0%;
      left: 0%;
  
    }
    
  
    li {
      border-right: 1px solid #bbb;
      float: left;
    }
    
    li:last-child {
      border-right: none;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      
  
    }
    
    
    li a:hover {
      background-color: #111;
    }
    .active{
      background-color: white;
      color: #111;
  }
  .blur{
  
  
  }
  
  .blur.active{
    
      margin-left: -8px;
  margin-top: -8px;
  margin:0; padding:0;
     
      filter: blur(2px);

    }
  .title{
  
      background-color: white;
  position: absolute;
  top: 10%;
  left: 37%;
  width: auto;
  height: auto;
  font-size: 350%;
  border-radius: 20px;
  border-color: #111;
  border-width: 3px;
  border: #111;
  box-shadow: 5px 10px #333;
  display: none;
  }

  .confirmation{
      color: #333;
      position: absolute;
                  top: 78%;
                  left: 37%;
  }
  .main{
  background-color: whitesmoke;
      position: absolute;
      width: 90%;
      height: 78%;
  left: 5%;
  top: 17%;
  border-radius: 20px;
  
  }
  
  .leftside{
  
      background-color: whitesmoke;
      position: absolute;
      width: 30%;
      height: 100%;
      top: 0%;
      border-radius: 8px;
      padding-right: 3px;
      padding: auto;
  }
  
  .notifications{
  
      background-color: #333;
      position: absolute;
      width: 80%;
      height: 80%;
      top: 5%;
      left: 10%;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  
  }

  .notifications h3{

    position: absolute;
    left: 10%;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    width: 80%;
    text-align: center;
  }
  
  .notifications div{
    font-size: x-small;
    border-radius: 10px;
    border: 2px solid white;
    width: 80%;
    text-align: center;
    position: absolute;
    left: 10%;
  }
  
 
  .rightside{
  
      background-color: white;
      position: absolute;
      width: 70%;
      height: 100%;
      top: 0%;
      left: 30%;
      border-radius: 8px;
  }
  
  .announcement{
     background-color: #333;
      position: absolute;
      width: 90%;
      height: 32%;
      top: 2%;
      left: 5%;
      border-radius: 8px;
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
font-size: 85%;
box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.25);
  }

  .announcement .report{
    position: absolute;
    left: 0%;
    border-radius: 8px;

  }
  .announcement p{
    color: whitesmoke;

    position:absolute;
    left: 35%;
  }
  .anntitle{
position: absolute;
top: 5%;
left: 28%;
color: white;
font-size: 100%;

  }
.article{
    position: absolute;
    top: 34%;
    left: 28%;
    color: white;
    width: 65%;
    text-align: justify;
    font-size: large;

}


  

    .reminders{
      background-color: #333;
      position: absolute;
      width: 80%;
      height: 55%;
      top: 40%;
      left: 9%;
      border-radius: 10px;
      font-family: 'Courier New', Courier, monospace;

      
    }

    .reminders h3{
        position: absolute;
        left: 20%;
        color: white;
        border-radius: 10px;
        border: 2px solid white;
        width: 60%;
        text-align: center;
      }
    
  

  .payments{
  
      background-color: #333;
      position: absolute;
      width: 45%;
      height: 100%;
      top: 0%;
      left: 52%;
     
      font-family: 'Courier New', Courier, monospace;
      font-weight: lighter;
      text-align: left;
      border-left: 1px solid white;
   
      box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.25);

  
  }

  
  .payments div{
    font-size: 67%;
    border-radius: 10px;
    border: 2px solid white;
    width: 80%;
    height: 15%;
    text-align: center;
    position: absolute;
    left: 10%;
    color: white;
   
  }

  .list{
    position: relative;
    top: 77%;
    left: 5%;
    width: 30%;
color: black;
    height: 10%;
  }


  button{
position: absolute;
top: 80%;
left: 45%;
width: 45%;
height: 12%;
font-size:large;
border-radius:50px ;
background-color: black;
color: white;
border-style: solid ;
border-color: white;
}
button:hover{
background-color: black;
color: goldenrod;
border-color: white;
}

.paypal{
    position: absolute;
    top: 92.5%;
    left: 53%;
    color: white;
}

  .transfers{
    position: absolute;
    background-color: #333;
    width: 52%;
    height: 100%;
    top: 0%;
    box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.25);
border-radius: 8px;
  }


  
  
  
 .column1{

    position: absolute;
    top: 70%;
    left: 8%;
    color: white;
    width: 33%;
 }

 .column2{

    position: absolute;
    top: 70%;
    left: 37%;

    width: 33%;
    color: white;
 }

 .column3{

    position: absolute;
    top: 70%;
    left: 65%;
    width: 33%;

 }




 .internalapplication{
    background-color: white;
    position: fixed;
top: 20%;
left: 35%;
width: 25%;
height: 60%;
z-index: 10;
box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.55);
border-radius: 15px;
text-align: center;
display: none;
font-size: small;

  }

  input{
    
    width: 40%;
    height: 5%;
  
    margin-top: 10px;
border-radius: 10px;
text-align: center;
background-color: whitesmoke;
color: gray;
border: 1px solid black;
  }



 

      .internalcancel{
        position: absolute;
        top: 85%;
        left: 25%;
        width: 100px;
        height: 50px;
        font-size:large;
        border-radius:50px ;
        background-color: transparent;
        background-color: black;
    color: white;
    border-color: white;
    text-align: center;
    
      }
    
      .internalcancel:hover{
        background-color: black;
        color: goldenrod;
        border-color: white;
      }

      .domesticapplication{
        background-color: white;
        position: fixed;
    top: 20%;
    left: 35%;
    width: 25%;
    height: 60%;
    z-index: 10;
    box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    text-align: center;
    display: none;
    font-size: small;
    
      }
    
      input{
        
        width: 40%;
        height: 5%;
      
        margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    color: gray;
    border: 1px solid black;
      }
  
      
     
    
          .domesticcancel{
            position: absolute;
            top: 85%;
            left: 25%;
            width: 100px;
            height: 50px;
            font-size:large;
            border-radius:50px ;
            background-color: transparent;
            background-color: black;
        color: white;
        border-color: white;
        text-align: center;
        
          }
        
          .domesticcancel:hover{
            background-color: black;
            color: goldenrod;
            border-color: white;
              }




              .internationalapplication{
                background-color: white;
                position: fixed;
            top: 25%;
            left: 35%;
            width: 25%;
            height: 60%;
            z-index: 10;
            box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.55);
            border-radius: 15px;
            text-align: center;
            display: none;
            padding-top: 10px;
            
              }
            
            
            
              .submit{
                position: absolute;
                top: 85%;
                left: 55%;
                width: 100px;
                height: 50px;
                font-size:large;
                border-radius:50px ;
                background-color: transparent;
                background-color: black;
            color: white;
            border-color: white;
            text-align: center;
            
              }
            
              .submit:hover{
                background-color: black;
                color: goldenrod;
                border-color: white;
                  }
                  .internationalcancel{
                    position: absolute;
                    top: 85%;
                    left: 25%;
                    width: 100px;
                    height: 50px;
                    font-size:large;
                    border-radius:50px ;
                    background-color: transparent;
                    background-color: black;
                color: white;
                border-color: white;
                text-align: center;
                
                  }
                
                  .internationalcancel:hover{
                    background-color: black;
                    color: goldenrod;
                    border-color: white;
                      }
                