body{
  
    background-image: url(../Assets/triangle-cyan.png);
      width: 100%;
      margin: auto;
      display: block;
      margin:0; padding:0;
  }
  
  
  
  
  .nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      width: 100%;
      position: fixed;
      top: 0;
      padding-left: 0%;
      left: 0%;
  
    }
    
  
    li {
      border-right: 1px solid #bbb;
      float: left;
    }
    
    li:last-child {
      border-right: none;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      
  
    }
    
    
    li a:hover {
      background-color: #111;
    }
    .active{
      background-color: white;
      color: #111;
  }
  .blur{
  
  
  }
  
  .blur.active{
      margin-left: -8px;
  margin-top: -8px;
  margin:0; padding:0;
     
      filter: blur(10px);
     
    }
  .title{
  
      background-color: white;
  position: absolute;
  top: 10%;
  left: 37%;
  width: auto;
  height: auto;
  font-size: 350%;
  border-radius: 20px;
  border-color: #111;
  border-width: 3px;
  border: #111;
  box-shadow: 5px 10px #333;
  display: none;
  }
  .loanapplication{
      background-color: white;
      position: fixed;
  top: 20%;
  left: 35%;
  width: 25%;
  height: 60%;
  z-index: 10;
  box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.55);
  border-radius: 15px;
  text-align: center;
  display: none;
  font-size: small;
  
    }
  
    input{
      
      width: 40%;
      height: 5%;
    
      margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: whitesmoke;
  color: gray;
  border: 1px solid black;
    }

    fieldset{
        width: 40%;
        height: 20%;
        text-align: center;
        text-align: left;
        position: absolute;
        top: 57%;
        left: 30%;

    }
  
   
  
        .applicationcancel{
          position: absolute;
          top: 85%;
          left: 25%;
          width: 100px;
          height: 50px;
          font-size:large;
          border-radius:50px ;
          background-color: transparent;
          background-color: black;
      color: white;
      border-color: white;
      text-align: center;
      
        }
      
        .applicationcancel:hover{
          background-color: black;
          color: goldenrod;
          border-color: white;
            }
            .loanpaymentapp{
              background-color: white;
              position: fixed;
          top: 25%;
          left: 35%;
          width: 25%;
          height: 60%;
          z-index: 10;
          box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.55);
          border-radius: 15px;
          text-align: center;
          display: none;
          padding-top: 10px;
          
            }
          
          
          
            .submit{
              position: absolute;
              top: 85%;
              left: 55%;
              width: 100px;
              height: 50px;
              font-size:large;
              border-radius:50px ;
              background-color: transparent;
              background-color: black;
          color: white;
          border-color: white;
          text-align: center;
          
            }
          
            .submit:hover{
              background-color: black;
              color: goldenrod;
              border-color: white;
                }
                .closecancel{
                  position: absolute;
                  top: 85%;
                  left: 25%;
                  width: 100px;
                  height: 50px;
                  font-size:large;
                  border-radius:50px ;
                  background-color: transparent;
                  background-color: black;
              color: white;
              border-color: white;
              text-align: center;
              
                }
              
                .closecancel:hover{
                  background-color: black;
                  color: goldenrod;
                  border-color: white;
                    }
              
  .confirmation{
      color: #333;
      position: absolute;
                  top: 78%;
                  left: 37%;
  }
  .main{
  background-color: whitesmoke;
      position: absolute;
      width: 90%;
      height: 78%;
  left: 5%;
  top: 17%;
  border-radius: 20px;
  
  }
  
  .leftside{
  
      background-color: whitesmoke;
      position: absolute;
      width: 30%;
      height: 100%;
      top: 0%;
      border-radius: 8px;
      padding-right: 3px;
      padding: auto;
  }
  
  .cards{
  
      background-color: #333;
      position: absolute;
      width: 80%;
      height: 40%;
      top: 5%;
      left: 10%;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  
  }
  
  .contact{
  
      background-color: #333;
      position: absolute;
      width: 80%;
      height: 40%;
      top: 55%;
      left: 10%;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  box-shadow:  0px 20px 25px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  }
 
  .rightside{
  
      background-color: white;
      position: absolute;
      width: 70%;
      height: 100%;
      top: 0%;
      left: 30%;
      border-radius: 8px;
  }
  
  .loanpayment{
     background-color: whitesmoke;
      position: absolute;
      width: 90%;
      height: 48%;
      top: 2%;
      left: 5%;
      border-radius: 8px;
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
font-size: 85%;
  }
  
  
 
  button{
      position: absolute;
      top: 70%;
      left: 30%;
      width: 25%;
      height: 12%;
      font-size:large;
      border-radius:50px ;
      background-color: black;
      color: white;
      border-style: solid ;
      border-color: white;
    }
    button:hover{
  background-color: black;
  color: goldenrod;
  border-color: white;
    }
  
  
  
    .loanmessage{
      background-color: #333;
      position: absolute;
      width: 45%;
      height: 45%;
      top: 50%;
      left: 0.5%;
      border-radius: 10px;
      font-family: 'Courier New', Courier, monospace;
  border-right: 1px solid white;
  color: white;
      
    }
  

  .loanrequirements{
  
      background-color: #333;
      position: absolute;
      width: 45%;
      height: 45%;
      top: 50%;
      left: 48%;
      border-radius: 8px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: lighter;
      color: white;
      
  
  }
  
  
  
  
        .leftpayment{
            background-color: whitesmoke;
            position: absolute;
            width: 45%;
            height: 55%;
            top: 35%;
            left: 0%;
            text-align: left;

        }
        .rightpayment{
            background-color: whitesmoke;
            position: absolute;
            width: 55%;
            height: 65%;
            top: 35%;
            left: 45%;
            text-align: left;

        }
        .rightpayment p {
          font-weight: bolder;
        }

        .recurringpaymentbutton{

            position: absolute;
            width: 25%;
            height: 12%;
            top: 80%;
            left: 65%;
        }

        .singlepaymentbutton{

            position: absolute;
            width: 25%;
            height: 12%;
            top: 80%;
            left: 5%;
        }
  
  
  