body{
    background-color: #88BDBC;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}
body{
  margin: 0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 0%;
    left: 0%;

  }
  

  li {
    border-right: 1px solid #bbb;
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    

  }
  
  
  li a:hover {
    background-color: #111;
  }
  .active{
    background-color: white;
    color: #111;
}
.pic{
width: 400px;
height: 200px;
align-items: center;
border-style: solid;
border-color: white;
border-radius: 400px;
position: absolute;
top: 15%;
left: 37.5%;
}


.head{
    color: white;
    position: absolute;
    top: 35%;
    left: 47%;
    font-size: 400%;
    font-weight: bolder;

}

.text{
color: white;
position: absolute;
    top: 48%;
    left: 41%;
    font-size: 200%;
}

button{
    position: absolute;
    top: 63%;
    left: 44.5%;
    width: 200px;
    height: 100px;
    font-size: x-large;
    border-radius:50px ;
    background-color: transparent;
    color: white;
    border-style: solid ;
    border-color: white;
  }
  button:hover{
background-color: black;
color: white;
border-color: white;
  }
.missionheader{
    position: absolute;
    top: 75%;
    left: 68%;
    width: 300px;
    height: 100px;
    color: white; 
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
  .mission{
    position: absolute;
    top: 80%;
    left: 67%;
    width: 30%;
    height: 100px;
    color: white;
    font-style: italic;
    font-size: 23px;
    

  }

  .visionheader{
    position: absolute;
    top: 75%;
    left: 5%;
    width: 300px;
    height: 100px;
    color: white; 
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
  }

  .vision{
    position: absolute;
    top: 80%;
    left: 5%;
    width: 30%;
    height: 100px;
    color: white;
    font-style: italic;
    font-size: 28px;
  }

  .logon{
    position: absolute;
    background-color: #111;
    top: 35%;
    left: 31%;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    display: none;
  }

  .username{
    position: absolute;
    background-color: white;
    top: 30%;
    left: 31%;
    width: 35%;
    height: 11%;
    border-radius: 20px;

  }

  .password{

    position: absolute;
    background-color: white;
    top: 47%;
    left: 31%;
    width: 35%;
    height: 11%;
    border-radius: 20px;

  }

  .logintitle{
    position: absolute;
   color: white;
    top: 10%;
    left: 40%;
    width: 30%;
    height: 10%;
    font-size: 200%;

  }

  .loginerror{
    position: absolute;
    color: white;
     top: 62%;
     left: 38%;
     width: 30%;
     height: 10%;
     font-size: 100%;
     font-weight: bolder;

    
  }

  .cancelbutton{

    position: absolute;
    top: 73%;
    left: 25.5%;
    width: 20%;
    height: 20%;
  }
  .cancelbutton:hover{

    background-color: white;
color: black;
border-color: white;
  }

  
  .loginbutton{
    position: absolute;
    top: 73%;
    left: 55.5%;
    width: 20%;
    height: 20%;
  }
  .loginbutton:hover{

    background-color: white;
color: black;
border-color: white;
  }
.blur{
  
}
  .blur.active{

  
    filter: blur(30px);
    pointer-events: none;
    user-select: none;
  }